// Animation of textarea in note detail. (ng-animate)
.animate-add-comment-show-hide {
	@include transition(all 0.25s ease-in-out);
	opacity: 1;
	height: 217px;
	&.ng-hide {
		opacity: 0;
		height: 0;
	}
}

// Text blocks animation in note detail. (ng-animate)
.comment {
	@include transition(all 0.4s ease-in-out);
	margin-left: 0 !important;
	margin-right: 0 !important;
	&.ng-animate {
		@include transition(all 0.4s ease-in-out);
		margin-left: 0 !important;
	}
	&.ng-enter {
		margin-left: 150px !important;
		opacity: 0;
		&.ng-enter-active {
			margin-left: 0 !important;
			opacity: 1;
		}
	}
	&.ng-leave {
		margin-left: 0 !important;
		opacity: 1;
		&.ng-leave-active {
			margin-left: -150px !important;
			opacity: 0;
		}
	}
}

// Blocks animation in notes. (ng-animate)
.note {
	@include transition(all 1s ease-in-out);
	&.ng-animate {
		@include transition(all 1s ease-in-out);
	}
	&.ng-enter {
		opacity: 0;
		&.ng-enter-active {
			opacity: 1;
		}
	}
	&.ng-leave {
		opacity: 1;
		&.ng-leave-active {
			opacity: 0;
		}
	}
}
