body {
	height: 100%;
	background-color: $white;
	font-family: 'Raleway', sans-serif;
	line-height: auto;
	background: $background-color;
	color: $font-color;
}

.margin-no {
	margin: 0;
}

.padding-no {
	padding: 0;
}

$i: 20;
@while $i > 0 {
	.p#{$i * 10} { padding: 10px * $i; }
	.pb#{$i * 10} { padding-bottom: 10px * $i;}
	.pt#{$i * 10} { padding-top: 10px * $i;}
	.pl#{$i * 10} { padding-left: 10px * $i;}
	.pr#{$i * 10} { padding-right: 10px * $i;}
	.m#{$i * 10} { margin: 10px * $i; }
	.mb#{$i * 10} { margin-bottom: 10px * $i;}
	.mt#{$i * 10} { margin-top: 10px * $i;}
	.ml#{$i * 10} { margin-left: 10px * $i;}
	.mr#{$i * 10} { margin-right: 10px * $i;}
	$i: $i - 1;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $hr-line-color;
	margin: 15px 0;
	padding: 0;
}

.reveal-animation {
	width: 100%;
	position: relative;
	&.entered{
		.page{
			position: relative;
		}
	}
	&.leaved{
		.page{
			position: absolute;
		}
	}
	.page {
		position: absolute;
		width: 100%;
	}
}
