body {
	height: 100%;
	background-color: $white;
	font-family: 'Raleway', sans-serif;
	line-height: auto;
	background: $background-color;
	color: $font-color;
}

.margin-no {
	margin: 0;
}

.padding-no {
	padding: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $hr-line-color;
	margin: 15px 0;
	padding: 0;
}

.reveal-animation {
	width: 100%;
	position: relative;
	.page {
		position: absolute;
		width: 100%;
	}
}
