.text-bold {
	font-weight: 700;
}

.text-regular {
	font-weight: 300;
}

.text-uppercase {
	text-transform: uppercase;
}

h1 {
	@extend .text-bold;
	font-size: 20px;
	color: $h1-color;
}

h2,
h3 {
	@extend .text-bold;
	font-size: 13px;
	color: $font-color;
}
