<div class="page">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-12 col-lg-8 col-lg-offset-2">
			<article>
				<header>
					<h1>New note</h1>
				</header>
				<label for="note-title" class="required">Title:</label>
				<div class="form-group">
			  		<input type="text" id="intro-login" class="form-control" ng-model="vm.newnote.title">
				</div>
				<label for="note-text" class="required">Text:</label>
				<div class="form-group">
			  		<textarea type="text" id="note-text" class="form-control" ng-model="vm.newcomment" ng-keypress="($event.which === 13)?vm.addNewNote():0"></textarea>
				</div>
				<button ng-click="vm.goToNotes()" class="btn btn-gray">Cancel</button>
				<button ng-click="vm.addNewNote()" class="btn btn-arrow-next pull-right">Add note</button>
				<hr>
			</article>
		</div>
	</div>
</div> 