<div class="page">
	<article>
		<header>
			<h1>Login</h1>
		</header>
		
		<label for="intro-login" class="required">Username:</label>
		<div class="form-group">
			<input 	type="text" 
					id="intro-login" 
					class="form-control" 
					ng-model="vm.user.loginData.email" 
					placeholder="Username" />
		</div>

		<label for="intro-password" class="required">Password:</label>
		<div class="form-group">
			<input  type="password" 
					id="intro-password" 
					class="form-control" 
					ng-model="vm.user.loginData.password" 
					placeholder="Password" 
					ng-keypress="($event.which === 13)?vm.loginUser():0" />
		</div>
		<button ng-click="vm.loginUser()" class="btn btn-arrow-next">login</button>

		<div ng-show="user.loginFailed" class="infobox infobox-danger">Unable to connect to service. Username or password may be wrong.</div>

		<!-- HIDDEN USED FOR TESTING OF DESIGN OF SWEETALERT ALERTS -->
		<!--<button ng-click="vm.sweetTest('success')" class="btn btn-default">SweetAlert success</button>
		<button ng-click="vm.sweetTest('warning')" class="btn btn-default">SweetAlert warning</button>
		<button ng-click="vm.sweetTest('error')" class="btn btn-default">SweetAlert error</button>
		<button ng-click="vm.sweetTest('info')" class="btn btn-default">SweetAlert info</button>
		<button ng-click="vm.sweetTest('input')" class="btn btn-default">SweetAlert input</button>-->

	</article>
</div>